  <section class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading"><span class="brand-bold">trip</span>nest</h1>
              <p class="intro-text">Together, we can rethink trip planning.</p>
              <div class="page-scroll">
                <a href="#beta" class="btn btn-circle">
                  <i class="fa fa-angle-double-down animated"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="beta" class="container content-section text-center">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h2>Connect with Us</h2>
          <p>
            Be a part of the excitement by joining our contact list.<br />
            We'll give you a sneak preview of TripNest and open the dialog.<br />
            With your help, we'll build an awesome trip planning site together.
          </p>
          <span id="form-flash" class="new_user"></span>
          <div>
            <%= render partial: 'form/sign_up' %>
          </div>
        </div>
      </div>
    </section>