    <section id="intro" class="intro">
      <div class="intro-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading"><span class="brand-bold">trip</span>nest</h1>
              <p class="intro-text">Together, we can rethink trip planning.</p>
              <p>
                <%= link_to("http://www.instagram.com/GoTripNest", target: "_blank") do %>
                  <i class="fa fa-instagram fa-2x animated"></i>&nbsp;
                <% end %>
                <%= link_to("http://www.facebook.com/GoTripNest", target: "_blank") do %>
                  <i class="fa fa-facebook-square fa-2x animated"></i>&nbsp;
                <% end %>
                <%= link_to("http://www.twitter.com/GoTripNest", target: "_blank") do %>
                  <i class="fa fa-twitter-square fa-2x animated"></i>&nbsp;
                <% end %>
              </p>
              <div class="page-scroll">
                <a href="#beta" class="btn btn-circle">
                  <i class="fa fa-angle-double-down animated"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="content-section text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <h2>About</h2>
              <p>
                  Food truck mlkshk irony, meggings meh Portland iPhone tattooed shabby chic. Retro drinking vinegar Shoreditch, biodiesel meggings narwhal cold-pressed. Viral mlkshk VHS Kickstarter, cornhole messenger bag yr Tumblr twee direct trade kale chips cred. Small batch gentrify PBR&B forage. Bicycle rights scenester narwhal freegan mumblecore Banksy. Lomo skateboard PBR&B, distillery selvage hoodie small batch shabby chic locavore chillwave dreamcatcher. Seitan swag tofu try-hard single-origin coffee, irony freegan literally messenger bag. <br />
                  Bacon ipsum dolor amet fatback meatball pig landjaeger bacon flank, biltong ball tip spare ribs bresaola short loin. Corned beef capicola brisket tongue chicken hamburger. Sausage corned beef kevin tenderloin, biltong pastrami shank pork loin chicken short ribs beef leberkas. Hamburger swine rump ribeye jerky chuck sausage drumstick ball tip flank.

                  Tri-tip flank biltong, frankfurter boudin pork turducken bresaola ham kielbasa shoulder pork belly tail. Ham hock flank meatball jowl. Short loin short ribs venison cupim. Short loin hamburger beef prosciutto fatback, alcatra sirloin ground round sausage. Tongue frankfurter bacon, kielbasa pork chop sausage chicken hamburger andouille jowl brisket rump ground round flank salami. Shoulder tri-tip kevin turducken chicken porchetta. Frankfurter landjaeger shoulder jowl ball tip meatloaf porchetta pork chop t-bone.<br />

                  Tri-tip ball tip picanha hamburger boudin pig cupim pork belly drumstick prosciutto. Ball tip meatloaf doner tongue pancetta, chuck hamburger jowl shankle sausage swine. Chuck pastrami fatback spare ribs brisket salami ham hock t-bone pork belly filet mignon pork chop jerky landjaeger ball tip cupim. Landjaeger drumstick cow ball tip, frankfurter strip steak fatback. 
                  <br />


              </p>
            </div>
        </div>
      </div>
    </section>
    <div class="push"></div>
    <section id="contact" class="content-section text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="hidden-xs hidden-sm">
              <h2>Connect with Us</h2>
              <p>
                Be a part of the excitement by joining our contact list.<br />
                We'll give you a sneak preview of TripNest and open the dialog.<br />
                So let's start talking and help us build an awesome trip planning site.
              </p>
            </div>
            <div class="visible-xs visible-sm">
            <h3>Connect with Us</h3>
            <p>
              Be a part of the excitement by joining our contact list.
              We'll give you a sneak preview of TripNest and open the dialog.
              So let's start talking and help us build an awesome trip planning site.
            </p>
            </div>
            <span id="form-flash" class="new_user"></span>
            <%= render partial: 'form/sign_up' %>
          </div>
        </div>
      </div>
    </section>
    <div class="push"></div>
    <section>
      <div class="end">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              &nbsp;
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="push"></div>