    <section class="intro">
      <div class="intro-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading"><span class="brand-bold">trip</span>nest</h1>
              <p class="intro-text">Together, we can rethink trip planning.</p>
              <div class="page-scroll">
                <a href="#beta" class="btn btn-circle">
                  <i class="fa fa-angle-double-down animated"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="beta" class="content-section text-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-sm-12 col-md-8">
            <div class="hidden-xs hidden-sm">
              <h2>Connect with Us</h2>
              <p>
                Be a part of the excitement by joining our contact list.<br />
                We'll give you a sneak preview of TripNest and open the dialog.<br />
                So let's start talking and help us build an awesome trip planning site.
              </p>
            </div>
            <div class="visible-xs visible-sm">
            <h3>Connect with Us</h3>
            <p>
              Be a part of the excitement by joining our contact list.
              We'll give you a sneak preview of TripNest and open the dialog.
              So let's start talking and help us build an awesome trip planning site.
            </p>
            </div>
            <span id="form-flash" class="new_user"></span>
            <%= render partial: 'form/sign_up' %>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
    </section>