<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TripNest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<!--
===============================================================================
  Hey there, digging through our code?
  We're looking for Ruby on Rails Developers! Connect with us by forking our
  Teaser Site's GitHub repository here:
    https://github.com/nwpan/tripnest_teaser
  You'll certainly get our attention by improving our teaser site (there's lots
  of room for improvement).
===============================================================================
-->
<body>
  <%= yield %>
  <div id="footer">
      <div class="container">
        <span>&copy; 2014 TripNest, All rights reserved.</span>
      </div>
  </div>
</body>
</html>
